.ide,button{
    margin-left:20%; 
    margin-top: 1cm;  
    opacity: 0.8;
}
input{
    height: 40px;
    width: 400px;
    border: 1px solid #add8e6;
    border-radius: 20px;
}
.img{
    background-image: url("/src/assets/git-hub.png");
    
}


.sr-only{
    color:  #add8e6;
} 
#username{
    margin-top: 1cm;
    margin-left: 25%;
    width: 500px;
    background-color: #add8e6;
}
