.top a{
    align-items: center;
    margin-left: 50%;   
}
.footer{
    height: 40px;
    background-color: #add8e6;
}
.info h3,p{
    /* color: white; */
    text-align: center;
}
.g{
    color: #add8e6;
}
.p{
    color: white;
}