<!-- <ul class="nav justify-content-end bg-dark">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#" routerLink="" >Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#" routerLink="goals" routerLinkActive='active bg-warning'>Repositories</a>
    </li>

  </ul> -->
  
  <div class="top  text-center bg-dark">
  <nav class="navbar navbar-expand-lg navbar">
    <!-- <a class="navbar-brand" routerLink="/goals"><b>GOALS APP</b></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active " routerLink="nav-bar" routerLinkActive='active bg-light '><span class="sr-only">Home</span></a>
        <a class="nav-item nav-link active " routerLink="profile" routerLinkActive='active bg-light '><span class="sr-only">Profile</span></a>
        <a class="nav-item nav-link bg-secondary" routerLink="repos" routerLinkActive='active bg-light'><span class="sr-only">Repositories </span></a>

      </div>
    </div>
  </nav>
 
</div>

<app-form></app-form>

<footer>
  <p class="footer  mt-5 text-center"> &#169; All rights reserved 2022 .</p>


</footer>